<form>
  <div class="form-group">
    <label for="key">Key</label>
    <textarea class="form-control" id="key" rows="3" placeholder="First press Get Key"></textarea>
  </div>
  <div class="form-group">
    <label for="data">Data</label>
    <textarea class="form-control" id="data" rows="3" placeholder="Write here your data that you want to encrypt and press Encrypt"></textarea>
  </div>
  <button type="button" class="btn btn-success" onclick="getKey()"><i class="fas fa-key"></i> Get Key</button>
  <button type="button" class="btn btn-primary" onclick="cryptography('encrypt')"><i class="fas fa-arrow-right"></i> Encrypt</button>
  <button type="button" class="btn btn-primary" onclick="cryptography('decrypt')"><i class="fas fa-arrow-left"></i> Decrypt</button>
  <button type="button" class="btn btn-warning" onclick="clearAll()"><i class="fas fa-trash-alt"></i> Clear</button>
</form>